<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear Enlace de Interés</title>
</head>
<body>
    <div class="header">
        <h1>
            Crear Enlace de Interés
        </h1>
    </div>
    <div id="container" fxLayout="column" fxLayoutAlign="center">
        <form fxLayout="row wrap" fxLayout.wrap fxLayoutAlign="start end" [formGroup]="form">
            <div fxFlex="100" fxLayoutAlign="center" fxLayoutGap="10px">
                <mat-form-field fxFlex="35" appearance="outline">
                    <mat-label>Título:</mat-label>
                    <input matInput formControlName="title" required>
                </mat-form-field>
                <mat-form-field fxFlex="35" appearance="outline">
                    <mat-label>Url:</mat-label>
                    <input matInput formControlName="url" required>
                </mat-form-field>
            </div>
        </form>
        
        <div class="buttons">
            <button [ngClass]="form.invalid ? 'disable' : 'create'" (click)="createLink()" [disabled]="form.invalid">
                Crear Link
            </button>
            <button class="cancel" [routerLink]="'/admin/links'">
                Cancelar
            </button>
        </div>
    </div>
</body>
</html>