<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio</title>
</head>
<body>
    <div id="imgHome">
        <h1><i>Concéntrame</i></h1>
        <h2><i>Aprender puede ser divertido</i></h2>
    </div>
    <div id="container">
        <h2>Qué es TDAH?</h2>
        <p>Ayudamos a las familias a tratar con el trastorno por déficit de atención con hiperactividad (TDAH). Esto es un problema de salud mental que suele aparecer en la infancia, generalmente a partir de los 7 años, y que está clasificado como un <b>trastorno de conducta</b>. Se caracteriza, de ahí su denominación, porque los niños se muestran <b>hiperactivos</b>, <b>impulsivos</b> y tienen <b>problemas para mantener la atención</b> en una única actividad de forma continuada.</p>
        <p>Todo esto conlleva problemas en el rendimiento escolar, así en sus relaciones personales con los amigos, los profesores y la propia familia.</p>
        <br>
        <img src="../../../assets/resources/TDAH-sintomas.jpg" class="kid">
        <h2>Causas del TDAH</h2>
        <p>No se conocen las causas del TDAH, aunque los diferentes estudios que se han realizado en este sentido apuntan a que hay un componente genético importante,  hasta el punto de que algunos expertos consideran que existe un 76% de posibilidades de que los hijos de una persona con este trastorno también lo desarrollen.</p>
        <p>Asimismo, los estudios más recientes consideran que el ambiente familiar (hogares desestructurados) y el entorno social (relaciones conflictivas) sólo pueden actuar como impulsores de los síntomas, pero no contribuir a la aparición de la enfermedad.</p>
        <br>
        <h2>Síntomas del TDAH</h2>
        <img src="../../../assets/resources/Screenshot 2022-05-20 140741.png" class="tdah">
    </div>
</body>
</html>