<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <div class="header">
        <h1>
            Login
        </h1>
    </div>
    <div id="container">
        <form fxLayout="row wrap" fxLayout.wrap fxLayoutAlign="start end" [formGroup]="form">
            <div fxFlex="100" fxLayoutAlign="center" fxLayoutGap="200px">
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="pat@example.com" required>
                    <div *ngIf="form.get('email')?.touched && form.controls['email'].errors">
                        <mat-error *ngIf="form.controls['email'].errors['email']">
                            El correo introducido no es válido
                        </mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Contraseña:</mat-label>
                    <input matInput type="password" formControlName="password" (keyup.enter)="loginUser()">
                    <div *ngIf="form.get('password')?.touched && form.controls['password'].errors">
                        <mat-error *ngIf="form.controls['password'].errors['minlength']">
                            La contraseña debe tener 8 carácteres mínimo
                        </mat-error>
                        <mat-error *ngIf="form.controls['password'].errors['pattern']">
                            La contraseña debe tener al menos 1 número, 1 mayúscula, 1 minúscula y 1 carácter especial
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
        </form>
        <button [ngClass]="form.invalid ? 'disable' : 'login'" [disabled]="form.invalid" (click)="loginUser()">
            <h5>Iniciar Sesión</h5>
        </button>
    </div>
</body>
</html>