.header h1{
    text-align: center;
    font-size: 50px;
    color: #05145a;
    font-family: 'Medula One', sans-serif;
    font-weight: bold;
    margin-bottom: 4.4%;
    margin-top: 5%;
}
#container{
    text-align: center;
    color: #05145a;
    width: 60%;
    margin: auto;
}
.spinner{
    align-self: center;
}
#container table{
    text-align: left;
}
// #container{
//     text-align: center;
// }
span{
    margin-right: 15%;
}
span:hover{
    cursor:pointer;
}
.create{
    text-align: right;
}
.create button{
    margin-bottom: 1%;
    width: 200px;
    height: 50px;
    background-color: #05145a;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.create button:hover{
    cursor:pointer;
}
.new{
    display: flex;
    flex-direction: row;
    margin: 11px 0 0 10px;
}
.new p{
    margin-left: 5px;
    margin-top: 0.5px;
}
tr:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
tr:not(.example-expanded-row):active {
    background: #efefef;
}

.back button{
    margin-top: 12%;
    width: 200px;
    height: 50px;
    background-color: #ca2525;
    color: #003249;
    font-weight: bold;
    font-size: 18px;
}
.back button:hover{
    cursor:pointer;
}

@media (max-width: 575px) { 
    .header h1{
        font-size: 30px;
    }
    #container{
        width: 95%;
    }
    .create{
        margin-bottom: 10px;
        button{
            font-size: 15px;
            min-width: 160px;
            max-width: 100%;
        }
    }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767px) { 
    .header h1{
        font-size: 40px;
    }
    #container{
        width: 75%;
    }
    .create{
        margin-bottom: 10px;
        button{
            font-size: 15px;
            min-width: 160px;
            max-width: 100%;
        }
    }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {  
    
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) and (max-width: 1379px) { 

}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1380px) { 
    
}