iframe{
    width: 70%;
    height: 900px;
    display: flex;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
button{
    width: 120px;
    display: flex;
    margin: auto;
    background-color: #05145a;
    color: white;
    mat-icon{
        padding: 5% 0 0 5%;
    }
    h5{
        padding-top: 3%;
        padding-left: 5%;
    }
}
button:hover{
    cursor: pointer;
}

@media (max-width: 575px) { 
    iframe{
        width: 100%;
    }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767px) { 
    iframe{
        width: 100%;
    }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {  

}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) and (max-width: 1379px) { 

}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1380px) { 
    
}