h1{
    font-size: 40px;
    text-align: left;
    padding: 2% 0 0 3%;
    margin-top: 0;
    font-family: cursive;
}
hr{
    border-top: 2px solid black;
}
#container{
    padding-bottom: 2%;
}
#right{
    float: right;
    width: 500px;
}
.lastNews{
    margin: 15% 0 2% 4%;
    width: 80%;
    h3{
        font-family: cursive;
    }
    span{
        cursor:pointer;
        font-family: 'Times New Roman', Times, serif;

        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: #05145a;
    }
}
.categorys{
    margin: 20% 0 2% 4%;
    width: 80%;
    h3{
        font-family: cursive;
    }
    span{
        cursor:pointer;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: #05145a;
    }
}
.notices mat-card{
    margin: 2% 0 0 5%;
    min-width: 800px;
    width: 800px;
    min-height: 220px;
    font-family: cursive;
}
.notices mat-card:hover{
    cursor:pointer;
    box-shadow: 5px 5px 10px #999;
}
.food{
    background-image: url("../../../assets/resources/65619355-preparando-el-almuerzo-para-el-niño-con-verduras-y-frutas-a-la-escuela-vista-desde-arriba-sobre-fond.jpg");
    background-repeat: no-repeat;
    background-size: 100% 130%;
}
.tecnology{
    background-image: url("../../../assets/resources/computer-mouse-g0fff539c0_1280.png");
    background-repeat: no-repeat;
    background-size: 45% 100%;
}
mat-card h2{
    margin-left: 350px;
    margin-top: 5%;
    width: 50%;
}
mat-card p{
    font-size: 18px;
}
mat-card span{
    color: #05145a
}
.example-card span:hover{
    cursor:pointer;
}