h1{
    font-size: 40px;
    text-align: left;
    padding: 2% 0 0 3%;
    margin-top: 0;
    font-family: cursive;
}
hr{
    border-top: 2px solid black;
}
#container{
    padding-bottom: 2%;
    display: flex; 
    justify-content: left; 
    width: 100%;
    flex-wrap: wrap;
}
#top{
    width: 100%;
}
#left{
    width: 45%;
    display: block;
    margin-right: 25%;
}
#right{
    width: 30%;
    display: block;
}
.lastNews{
    margin: 15% 0 2% 4%;
    width: 80%;
    h3{
        font-family: cursive;
    }
    span{
        cursor:pointer;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: #05145a;
    }
}
.categorys{
    margin: 20% 0 2% 4%;
    width: 80%;
    h3{
        font-family: cursive;
    }
    span{
        cursor:pointer;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: #05145a;
    }
}
.notices mat-card{
    margin: 2% 0 0 5%;
    width: 90%;
    font-family: cursive;
}
.notices mat-card:hover{
    cursor:pointer;
    box-shadow: 5px 5px 10px #999;
}
.food{
    background-image: url("../../../assets/resources/65619355-preparando-el-almuerzo-para-el-niño-con-verduras-y-frutas-a-la-escuela-vista-desde-arriba-sobre-fond.jpg");
    background-repeat: no-repeat;
    background-size: 100% 130%;
}
.tecnology{
    background-image: url("../../../assets/resources/computer-mouse-g0fff539c0_1280.png");
    background-repeat: no-repeat;
    background-size: 45% 100%;
}
mat-card h2{
    margin-left: 50%;
    margin-top: 5%;
    width: 50%;
}
mat-card p{
    font-size: 18px;
}
mat-card span{
    color: #05145a
}
.example-card span:hover{
    cursor:pointer;
}
@media (max-width: 575px) { 
    #left{
        width: 100%;
        margin: 0;
    }
    #right{
        width: 100%;
    }
    .lastNews{
        margin: auto;
        margin-top: 10%;
    }
    .categorys{
        margin: auto;
        margin-top: 10%;
    }
    .notices mat-card{
        width: 90%;
        font-family: cursive;
    }
    mat-card h2{
        font-size: 20px;
    }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767px) { 
    #left{
        width: 100%;
        margin: 0;
    }
    #right{
        width: 100%;
    }
    .lastNews{
        margin: auto;
        margin-top: 10%;
    }
    .categorys{
        margin: auto;
        margin-top: 10%;
    }
    .notices mat-card{
        width: 90%;
        font-family: cursive;
    }
    mat-card h2{
        font-size: 23px;
    }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {  
    #left{
        width: 55%;
        margin-right: 5%;
    }
    #right{
        width: 40%;
    }
    .lastNews{
        margin: auto;
        margin-top: 10%;
    }
    .categorys{
        margin: auto;
        margin-top: 10%;
    }
    .notices mat-card{
        width: 90%;
        font-family: cursive;
    }
    mat-card h2{
        font-size: 26px;
    }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) and (max-width: 1379px) { 
    #left{
        width: 55%;
        margin-right: 5%;
    }
    #right{
        width: 40%;
    }
    .lastNews{
        margin: auto;
        margin-top: 10%;
    }
    .categorys{
        margin: auto;
        margin-top: 10%;
    }
    .notices mat-card{
        width: 90%;
        font-family: cursive;
    }
    mat-card h2{
        font-size: 26px;
    }
}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1380px) { 
    
}