#header{
    background-image: url("../assets/resources/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 2%;
    span{
        margin: 0 3%;
    }
}
nav{
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    button{
        position: absolute;
        top: 10px;
        right: 10px;
        span{
            color: black !important;
            background-color: #05145a;
        }
    }
}
#logo{
    width: 10%;
    height: 80%;
    margin: 1% 0 0 1%;
}
#logo:hover{
    cursor: pointer;
}
#links{
    margin-top: 7%;
    padding-left: 2%;
    font-family: cursive;
    font-size: 25px;
    display: flex; 
    justify-content: left; 
    width: 100%;
    flex-wrap: wrap;
    b:hover{
        cursor: pointer;
    }
}
.link{
    margin: 0 3% 0 2%;
}
.link span{
    display: block;
    width: 100%;
}
main{
    padding-bottom: 10px;
}
#footer{
    min-height: 300px;
    background-color: #05145a;
    color: white;
    font-family: cursive;
    display: flex; 
    justify-content: left; 
    width: 100%;
    flex-wrap: wrap;
}
.column{
    display: block;
    width: 33.33%;
    height: 100%;
}
#leftFooter img{
    margin: 20px 0 0 28%;
    width: 50%;
}
#leftFooter ul{
    margin: 25px 0 0 -10px;
    font-size: 20px;
    text-align: center;
}
li{
    margin-top: 30px;
    list-style:none
}
li span:hover{
    cursor: pointer;
}
#centerFooter img{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.redes{
    margin: auto;
    margin: 25px 0 0 26%;
    width: 50%;
}

#social{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin: 15px 0 30px 30%;
}

.item{
    flex: 25%;
    margin: 25px 0 0 10%;
    max-width: 13%;
}

.item:hover{
    cursor: pointer;
}

.active {
    border: 1px black solid;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(163, 163, 163, 0.2)
}
@media (max-width: 575px) { 
    #logo{
       margin-left: 1%;
       margin-bottom: 5%;
       width: 25%;
    }
    #links{
        font-size: 20px;
    }
    .link{
        margin-right: 50%;
    }
    .column{
        width: 100%;
    }
    #leftFooter ul{
        font-size: 15px;
    }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767px) { 
    #logo{
        margin-left: 1%;
        margin-bottom: 5%;
        width: 20%;
     }
    #links{
        font-size: 21px;
    }
    .link{
        margin-right: 7%;
    }
    #leftFooter ul{
        font-size: 15px;
    }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {  
    #links{
        font-size: 21px;
    }
    .link{
        margin-right: 8%;
    }
    #leftFooter ul{
        font-size: 17px;
    }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) and (max-width: 1379px) { 

    #links{
        font-size: 22px;
    }
    .link{
        margin-right: 8%;
    }
}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1380px) { 
    
}