<div id="header">
    <img src="../assets/resources/logo.png" id="logo" routerLink="/home">
    <div id="links">
        <span routerLink="/home" routerLinkActive="active"><b class="menu">Inicio</b></span>
        <span routerLink="/games" routerLinkActive="active"><b class="menu">Juegos</b></span>
        <span routerLink="/notices" routerLinkActive="active"><b class="menu">Noticias</b></span>
        <span routerLink="/links" routerLinkActive="active"><b class="menu">Enlaces de interés</b></span>
        <span routerLink="/register" routerLinkActive="active"><b class="menu">Contacto</b></span>
    </div>
</div>
<main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <router-outlet></router-outlet>
</main>
<div id="footer">
    <div id="leftFooter" class="column">
        <img src="../assets/resources/Title.png" id="title">
        <ul>
            <li (click)="map()"><span>C. Violeta Parra, 9, 50015 Zaragoza</span></li>
            <li>+34 640 03 12 74</li>
            <li (click)="email()"><span>andresgilsousa@gmail.com</span></li>
        </ul>
    </div>
    <div id="centerFooter" class="column">
        <img src="../assets/resources/logo2.png">
    </div>
    <div id="rightFooter" class="column">
        <img src="../assets/resources/redes.png" class="redes">
        <div id="social">
            <div>
                <img class="item" src="../assets/resources/face.png" (click)="openSocial('https://www.facebook.com/andresgilsousa')">
                <img class="item" src="../assets/resources/insta.png" (click)="openSocial('https://www.instagram.com/andres_gil2001/')">
            </div>
            <div>
                <img class="item" src="../assets/resources/twitter.png" (click)="openSocial('https://twitter.com/AGSOUSA2001')">
                <img class="item" src="../assets/resources/linke.png" (click)="openSocial('https://www.linkedin.com/in/andr%C3%A9s-gil-sousa-a49a7a23b')">
            </div>
        </div>
    </div>
</div>