#container{
    margin: 2% 0 0 5%;
    display: flex; 
    justify-content: left; 
    width: 95%;
    flex-wrap: wrap;
    h2{
        font-size: 30px;
        font-family: cursive;
        margin-bottom: 20px;
    }
    h3{
        font-size: 25px;
        font-family: cursive;
        width: 100%;
    }
    p{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    li{
        font-size: 20px;
        margin: 1% 0;
        font-family: 'Times New Roman', Times, serif;
    }
}
::ng-deep .mat-step-label{
    white-space: unset !important;
}
::ng-deep .mat-step-header{
    height: auto !important;
}
#left{
    width: 50%;
    display: block;
}
#right{
    display: block;
    width: 40%;
}
mat-card{
    margin: 0 5% 0 4%;
    img:hover{
        cursor:pointer;
    }
    .carousel-caption{
        cursor:pointer;
    }
}
mat-stepper{
    margin-bottom: 3%;
    display: block;
    width: 100%;
    span{
        font-size: 30px;
    }
}

@media (max-width: 575px) { 
    #container{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
        li{
            font-size: 15px;
            margin: 0.5% 0;
        }
    }
    #izq{
        width: 100%;
    }
    #der{
        width: 100%;
        margin-left: 0;
    }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767px) { 
    #container{
        h2{
            font-size: 23px;
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 18px;
        }
        li{
            font-size: 18px;
            margin: 0.7% 0;
        }
    }
    #izq{
        width: 100%;
    }
    #der{
        width: 100%;
        margin-left: 0;
    }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {  
    #container{
        h2{
            font-size: 27px;
        }
        h3{
            font-size: 23px;
        }
        p{
            font-size: 19px;
        }
        li{
            font-size: 19px;
            margin: 0.7% 0;
        }
    }
    #izq{
        width: 100%;
    }
    #der{
        width: 100%;
        margin-left: 0;
    }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) and (max-width: 1379px) { 
    #container{
        h2{
            font-size: 28.5px;
        }
        h3{
            font-size: 24px;
        }
        p{
            font-size: 19px;
        }
        li{
            font-size: 19px;
            margin: 0.7% 0;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1380px) { 
    
}