#container{
    margin: 2% 0 0 5%;
    h2{
        font-size: 30px;
        font-family: cursive;
        margin-bottom: 20px;
    }
    h3{
        font-size: 25px;
        font-family: cursive;
    }
    p{
        font-size: 20px;
        font-family: fan;
    }
    li{
        font-size: 20px;
        margin: 1% 0;
        font-family: fan;
    }
}
mat-card{
    margin: 2% 2% 0 4%;
    width: 30%;
    float: right;
    img:hover{
        cursor:pointer;
    }
    .carousel-caption{
        cursor:pointer;
    }
}
mat-stepper{
    width: 1000px;
    margin-bottom: 3%;
    span{
        font-size: 30px;
    }
}