<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enlace de interés</title>
</head>
<body>
    <div *ngIf="isLoading == true" class="spinner">
        <mat-spinner></mat-spinner>
    </div>
    <div id="container" *ngIf="isLoading == false">
        <div id="left">
            <h1>Enlaces de Interés</h1>
            <div *ngFor="let link of links">
                <div id="links">
                    <diV id="name">
                        <span>{{link.title}}</span>
                    </diV>
                    <div id="url">
                        <button mat-stroked-button color="primary" (click)="openLink(link.url)">🔗Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="rigth">
            <img src="../../../assets/resources/Internet-Mundial.jpg">
        </div>
    </div>
</body>
</html>